.card__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 24px;
  border: var(--border);
  padding: 1.5rem 2rem;
  background-color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__container:hover {
  box-shadow: 0px 10px 2px var(--stroke-color);
}

.card__content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__content-bottom {
  color: var(--text-secondary-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content-open-env {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.card__content-open-env:hover {
  color: var(--green-color);
  cursor: pointer;
}

.card__content-top-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card__content-top-right-icons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.card__content-top-right-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.card__content-delete-button {
  padding: 0rem 1rem;
  height: 2rem;
  background-color: var(--red-color);
  color: var(--white-color);
  border: 0.5px solid var(--red-color);
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__content-delete-button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  border: 0.5px solid var(--black-color);
}

.card__content-cancel-button {
  padding: 0rem 1rem;
  height: 2rem;
  background-color: var(--white-color);
  color: var(--red-color);
  border: 0.5px solid var(--red-color);
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__content-cancel-button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  border: 0.5px solid var(--black-color);
}
