@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --pink-color: #f22266;
  --purple-color: #8540dd;
  --green-color: #1ccc6b;
  --yellow-color: #ffd255;
  --orange-color: #f16942;
  --stroke-color: #cfcfcf;
  --red-color: #ff0000;
  --text-secondary-color: #909090;
  --border: .5px solid var(--stroke-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 900px;
}

.body__container {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  flex-direction: row;
}
